= form_for chat_group do |f|
  - if chat_group.errors.any?
    .chat-group-form__errors
      %h2
        #{chat_group.errors.count}件のエラーが発生しました。
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name
    .chat-group-form__field--right
      = f.text_field :name, :placeholder => "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
      #user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :Menbers
    .chat-group-form__field--right
      #member
        - chat_group.users.each do |user|
          #chat-group-user-8.chat-group-user.clearfix.js-chat-member
            = f.hidden_field :user_ids, name: "chat_group[user_ids][]", :value => user.id
            %p.chat-group-user__name
              = user.name
            %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
              削除



  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "publish"
