%header
  .side-menu
    .side-menu__username-area
      .side-menu__username-area__username
        = current_user.name
      .side-menu__username-area__fontawesome
        = fa_icon("edit")
        = fa_icon("cog")
    - @chat_groups.each do |group|
      = render "groups", group: group

  - unless current_page?(root_path)
    .group-edit
      .group-edit__edit-button
        = link_to "edit", edit_chat_group_path(@chat_group)
      .group-edit__selected-group-name
        = @chat_group.name
      .group-edit__members
        - @chat_group.users.each do |user|
          = user.name

- unless current_page?(root_path)
  .chat-space
    .chat-space__top-margin
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__chat
      .chat-space__chat__username
        username
      .chat-space__chat__dateandtime
        dateandtime
      .chat-space__chat__message
        message
    .chat-space__bottom-margin

- unless current_page?(root_path)
  %footer
    .bottom-text-area
      = form_for [@chat_group, @chat] do |f|
        = f.text_area :text, placeholder: "type a message", autofocus: true, required: true
        .bottom-text-area__send-button
          = f.submit "Send", id: "button", class: "send-button"
/ %p#notice= notice
/ %h1 Chats
/ %table
/   %thead
/     %tr
/       %th{:colspan => "3"}
/   %tbody
/     - @chats.each do |chat|
/       %tr
/         %td= link_to 'Show', chat
/         %td= link_to 'Edit', edit_chat_path(chat)
/         %td= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' }
/ %br/
/ = link_to 'New Chat', new_chat_path
